/* BASIC STYLES HERE */
.profile-picture {
  height: 50px;
  max-width: 100%;
  /* aspect-ratio: 1/1; */
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 44px;
}

.bg-img {
  background-repeat: no-repeat;
  /* background-size: contain; */
  /* background-position: center; */
  object-fit: cover;
}

.text-shadow {
  text-shadow: 0px 1.5px 1px black;
  line-height: 2em;
}

.form {
  opacity: 0.6;
}

.quote {
  opacity: 0;
  transition: opacity 2s 1s ease;
}

.hover-author:hover+.quote {
  transition: opacity 2s ease;
  opacity: 1;
}

.time-display {
  font-size: 150px;
}